#nav-bar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

#logo {
  cursor: pointer;
}

.li-nav {
  margin: 15px 5px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
}

.img-art {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.p-art {
  position: absolute;
  bottom: 0;
  left: 10px;
  padding-right: 10px;
  color: white;
  font-size: 30px;
  text-align: justify;
}

.art {
  width: 30%;
  height: 350px;
  position: relative;
  cursor: pointer;
}

.sec-main {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px 50px 30px;
}

.sec-art {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text {
  padding: 50px 30px 50px 30px;
  text-align: justify;
}

.imag {
  padding: 20px 30px 20px 30px;
}

footer {
  padding: 0 30px 350px 30px;
}
